<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
      <div class="preloader-wrapper">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
      <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
          <div class="navbar-logo">
            <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
              <i class="ti-menu"></i>
            </a>
            <div class="mobile-search waves-effect waves-light">
              <div class="header-search">
                <div class="main-search morphsearch-search">
                  <div class="input-group">
                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                    <input type="text" class="form-control" placeholder="Enter Keyword">
                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <a href="index.html">
              <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
            </a>
            <a class="mobile-options waves-effect waves-light">
              <i class="ti-more"></i>
            </a>
          </div>
  
          <div class="navbar-container container-fluid">
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
              </li>
              <li class="header-search">
                <div class="main-search morphsearch-search">
                  <div class="input-group">
                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                    <input type="text" class="form-control">
                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                  </div>
                </div>
              </li>
              <li>
                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
            </ul>
            <ul class="nav-right">
              <li class="header-notification">
                <a href="#!" class="waves-effect waves-light">
                  <i class="ti-bell"></i>
                  <span class="badge bg-c-red"></span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li class="waves-effect waves-light">
                    <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg"
                        alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">John Doe</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li class="waves-effect waves-light">
                    <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg"
                        alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li class="waves-effect waves-light">
                    <div class="media">
                      <img class="d-flex align-self-center img-radius" src="assets/images/avatar-3.jpg"
                        alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="user-profile header-notification">
                <a href="#!" class="waves-effect waves-light">
                  <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                  <span>John Doe</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li class="waves-effect waves-light">
                    <a href="#!">
                      <i class="ti-settings"></i> Settings
                    </a>
                  </li>
                  <li class="waves-effect waves-light">
                    <a href="user-profile.html">
                      <i class="ti-user"></i> Profile
                    </a>
                  </li>
                  <li class="waves-effect waves-light">
                    <a href="email-inbox.html">
                      <i class="ti-email"></i> My Messages
                    </a>
                  </li>
                  <li class="waves-effect waves-light">
                    <a href="auth-lock-screen.html">
                      <i class="ti-lock"></i> Lock Screen
                    </a>
                  </li>
                  <li class="waves-effect waves-light">
                    <a href="auth-normal-sign-in.html">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <nav class="pcoded-navbar">
              <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
              <div class="pcoded-inner-navbar main-menu">
                  <div class="">
                      <div class="main-menu-header">
                          <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
                          <div class="user-details">
                              <span id="more-details">John Doe<i class="fa fa-caret-down"></i></span>
                          </div>
                      </div>
  
                      <div class="main-menu-content">
                          <ul>
                              <li class="more-details">
                                  <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                                  <a href="#!"><i class="ti-settings"></i>Settings</a>
                                  <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="p-15 p-b-0">
                      <form class="form-material">
                          <div class="form-group form-primary">
                              <input type="text" name="footer-email" class="form-control" required="">
                              <span class="form-bar"></span>
                              <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Friend</label>
                          </div>
                      </form>
                  </div>
                  <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">Layout</div>
                  <ul class="pcoded-item pcoded-left-item">
                      <li class="active">
                          <a href="index.html" class="waves-effect waves-dark">
                              <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                              <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                              <span class="pcoded-mcaret"></span>
                          </a>
                      </li>
                      <li class="pcoded-hasmenu">
                          <a href="javascript:void(0)" class="waves-effect waves-dark">
                              <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                              <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Gestion</span>
                              <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu">
                              <li class="">
                                  <a routerLink="/add-client" class="waves-effect waves-dark" (click)="onSubmit()">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Ajouter un client</span>
                                      <span class="pcoded-mcaret"></span>
                                  </a>
                              </li>                            
                              
                              <li class=" ">
                                  <a routerLink="/manage-abonement" class="waves-effect waves-dark" (click)="onSubmit()">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Gerer un abonement</span>
                                      <span class="pcoded-mcaret"></span>
                                  </a>
                              </li>
                              <li class=" ">
                                  <a routerLink="/subscribe" class="waves-effect waves-dark" (click)="onSubmit()">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Souscrire un abonement</span>
                                      <span class="pcoded-mcaret"></span>
                                  </a>
                              </li>
                              <li class=" ">
                                  <a routerLink="/list-abonement" class="waves-effect waves-dark" (click)="onSubmit()">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Liste des abonements</span>
                                      <span class="pcoded-mcaret"></span>
                                  </a>
                              </li>
                              
        
                          </ul>
                      </li>
                  </ul>   
              </div>
          </nav>
          <div class="pcoded-content">
            <!-- Page-header start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-8">
                    <div class="page-header-title">
                      <h5 class="m-b-10">Icon - Themify</h5>
                      <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <ul class="breadcrumb-title">
                      <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                      </li>
                      <li class="breadcrumb-item"><a href="#!">Icons</a>
                      </li>
                      <li class="breadcrumb-item"><a href="#!">Icon - Themify</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
              <div class="main-body">
                <div class="page-wrapper">
                  <!-- Page body start -->
                  <div class="page-body">
                    <div class="row">
                      <div class="col-xl-3 col-md-6">
                          <div class="card">
                              <div class="card-block">
                                  <div class="row align-items-center">
                                      <div class="col-8">
                                          <h4 class="text-c-purple">$30200</h4>
                                          <h6 class="text-muted m-b-0">All Earnings</h6>
                                      </div>
                                      <div class="col-4 text-right">
                                          <i class="fa fa-bar-chart f-28"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-footer bg-c-purple">
                                  <div class="row align-items-center">
                                      <div class="col-9">
                                          <p class="text-white m-b-0">% change</p>
                                      </div>
                                      <div class="col-3 text-right">
                                          <i class="fa fa-line-chart text-white f-16"></i>
                                      </div>
                                  </div>
  
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                          <div class="card">
                              <div class="card-block">
                                  <div class="row align-items-center">
                                      <div class="col-8">
                                          <h4 class="text-c-green">290+</h4>
                                          <h6 class="text-muted m-b-0">Page Views</h6>
                                      </div>
                                      <div class="col-4 text-right">
                                          <i class="fa fa-file-text-o f-28"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-footer bg-c-green">
                                  <div class="row align-items-center">
                                      <div class="col-9">
                                          <p class="text-white m-b-0">% change</p>
                                      </div>
                                      <div class="col-3 text-right">
                                          <i class="fa fa-line-chart text-white f-16"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                          <div class="card">
                              <div class="card-block">
                                  <div class="row align-items-center">
                                      <div class="col-8">
                                          <h4 class="text-c-red">145</h4>
                                          <h6 class="text-muted m-b-0">Task Completed</h6>
                                      </div>
                                      <div class="col-4 text-right">
                                          <i class="fa fa-calendar-check-o f-28"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-footer bg-c-red">
                                  <div class="row align-items-center">
                                      <div class="col-9">
                                          <p class="text-white m-b-0">% change</p>
                                      </div>
                                      <div class="col-3 text-right">
                                          <i class="fa fa-line-chart text-white f-16"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                          <div class="card">
                              <div class="card-block">
                                  <div class="row align-items-center">
                                      <div class="col-8">
                                          <h4 class="text-c-blue">500</h4>
                                          <h6 class="text-muted m-b-0">Downloads</h6>
                                      </div>
                                      <div class="col-4 text-right">
                                          <i class="fa fa-hand-o-down f-28"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-footer bg-c-blue">
                                  <div class="row align-items-center">
                                      <div class="col-9">
                                          <p class="text-white m-b-0">% change</p>
                                      </div>
                                      <div class="col-3 text-right">
                                          <i class="fa fa-line-chart text-white f-16"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    
                   
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- Brand icon start -->
                        <div class="card">
                          <div class="card-header">
                            <h5>Brand Icons</h5>
                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                          </div>
                          <div class="card table-card">
                              <div class="card-header">
                                  <h5>Liste des clients</h5>
                                  <div class="card-header-right">
                                      <ul class="list-unstyled card-option">
                                          <li><i class="fa fa-wrench open-card-option"></i></li>
                                          <li><i class="fa fa-window-maximize full-card"></i></li>
                                          <li><i class="fa fa-minus minimize-card"></i></li>
                                          <li><i class="fa fa-refresh reload-card"></i></li>
                                          <li><i class="fa fa-trash close-card"></i></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="card-block">
                                  <div class="table-responsive">
                                      <table class="table table-hover">
                                          <thead>
                                              <tr>
                                                  <th>
                                                      <div class="chk-option">
                                                          <div class="checkbox-fade fade-in-primary">
                                                              <label class="check-task">
                                                                  <input type="checkbox" value="">
                                                                  <span class="cr">
                                                                      <i class="cr-icon fa fa-check txt-default"></i>
                                                                  </span>
                                                              </label>
                                                          </div>
                                                      </div>
                                                      Nom</th>
                                                  <th>Prénom</th>
                                                  <th>Date d'inscription</th>
                                                  <th>Téléphone</th>
                                                  <th class="text-right">Abonnement actif</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <!-- Exemple de ligne pour un client -->
                                              <tr >
                                                  <td>
                                                      <div class="chk-option">
                                                          <div class="checkbox-fade fade-in-primary">
                                                              <label class="check-task">
                                                                  <input type="checkbox" >
                                                                  <span class="cr">
                                                                      <i class="cr-icon fa fa-check txt-default"></i>
                                                                  </span>
                                                              </label>
                                                          </div>
                                                      </div>
                                                      <div class="d-inline-block align-middle">
                                                          <h6>TOTO</h6>
                                                          <p class="text-muted m-b-0">Jean</p>
                                                      </div>
                                                  </td>
                                                  <td>12</td>
                                                  <td>12 mai 2023</td>
                                                  <td>00000000</td>
                                                  <td class="text-right">
                                                      <!-- <label [ngClass]="{'label-success': customer.activeSubscription, 'label-danger': !customer.activeSubscription}">
                                                          {{ customer.activeSubscription ? 'Actif' : 'Inactif' }}
                                                      </label> -->
                                                      
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                      <div class="text-right m-r-20">
                                          <a href="#!" class="b-b-primary text-primary">Voir tous les clients</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                        </div>
                        <!-- Brand icon end -->
                      </div>
                    </div>
                  </div>
                  <!-- Page body end -->
                </div>
              </div>
            </div>
          </div>
          <!-- Main-body end -->
          <div id="styleSelector">
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Modal start -->
  <div class="modal fade modal-icon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Themify Icons</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="icon-list-demo">
                <i id="icon" class="fa fa-wpbeginner fa-lg"></i>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                Name
                <input class="form-control" type="text" id="name" value="fa fa-wpbeginner">
              </div>
              <div class="form-group">
                Code
                <input class="form-control" type="text" id="code" value='<i class="fa fa-wpbeginner"></i>'>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  