<div class="login-wrapper">
  <div class="login-container">
    <div class="welcome-section">
      <h1>Bienvenue!</h1>
      <p>Connectez-vous pour accéder à votre compte et poursuivre votre voyage avec nous.</p>
    </div>

    <div class="login-form-section">
      <h2>Connectez-vous</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

        <div class="input-group">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" #usernameInput="ngModel" required />
          <p *ngIf="usernameInput.invalid && usernameInput.touched" style="color: red;">
            Le nom d'utilisateur est requis.
          </p>
        </div>

        <div class="input-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" #passwordInput="ngModel"
            required />
          <p *ngIf="passwordInput.invalid && passwordInput.touched" style="color: red;">
            Le mot de passe est requis.
          </p>
        </div>

        <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Connectez-vous</button>
        <p class="forgot-password">
          <a routerLink="/register">S'inscrire</a>
        </p>

      </form>
    </div>
  </div>
</div>
